<div class="container mt-5">
    <div class="loutre-grid">
      <% @loutres.each do |loutre| %>
        <%= link_to loutre_path(loutre), class: "link-no-deco" do %>
          <div class="card-loutre mb-4">
             <img class="show-image" src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQagNt1OWs7j_3WxkSxDpVxffe7OsfM2U_0dQ&usqp=CAU/>
            <div class="card-loutre-infos">
              <div>
                <h2><%= loutre.name %></h2>
                <p><%=  loutre.personality %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
