<h1 class="text-center">Louer une Loutre</h1>
  <div>
    <button type="button" class="btn btn-primary">Recherche</button>
  </div>
  <div class="d-flex justify-content-center">
    <iframe width="660" height="415" margin="200" src="https://www.youtube.com/embed/y3zv2O0b4rA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

<h2>Des idées d’activitée avec votre Loutre</h2>

<div class="d-flex justify-content-around">
  <div class="card" style="width: 18rem;">
    <%= image_tag "loutre_boxe.jpeg" %>
    <div class="card-body">
      <p class="card-text">Féru de boxe, vous pouvez emmener votre loutre à un combat de boxe </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <%= image_tag "loutre_boxe.jpeg" %>
    <div class="card-body">
      <p class="card-text">Féru de boxe, vous pouvez emmener votre loutre à un combat de boxe </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <%= image_tag "loutre_boxe.jpeg" %>
    <div class="card-body">
      <p class="card-text">Féru de boxe, vous pouvez emmener votre loutre à un combat de boxe </p>
    </div>
  </div>
</div>
