<h1>Louer une Loutre</h1>
  <div>
    <button type="button" class="btn btn-primary">Recherche</button>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y3zv2O0b4rA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<h2>Des idées d’activitée avec votre Loutre</h2>

<div class="card" style="width: 18rem;">
  <img src="loutre_boxe" class="" alt="Combat de boxe">
  <div class="card-body">
    <p class="card-text">Féru de boxe, vous pouvez emmener votre loutre à un combat de boxe </p>
  </div>
</div>
