.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin: -15px;
}

.banner h1 {
  margin-bottom: 20px;
  color: white;
  text-shadow: 0px 4px 7px rgba(0,0,0,0.3);
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.search-banner {
  padding-top: 200px;
  margin: 0 100px;
}

.text-opacity {
  opacity: 0.7;
}
