.button-res {
  background-color: cadetblue;
  padding: 5px;
  border-radius: 6px;
  margin-top: 30px;
}

.button-res a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
