.brand_name{
  text-decoration: none;
  color: black;
  p{
    margin: auto;
  }
}

.image_boxe{
height: 180px;
//object-fit: cover;
}

.image_balade{
height: 180px;
object-fit: cover;
}

.image_chasse{
height: 180px;
object-fit: cover;
}

.image_enfant{
height: 180px;
object-fit: cover;
}
