.border-title {
  border: 2px solid #36DDD2;
  border-radius: 6px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 750px;
}

.border-title2 {
  border: 2px solid #36DDD2;
  border-radius: 6px;
  padding: 10px;
  margin-left: 10px;
}

.title-index {
  margin-left: 10px;
  color: #36DDD2;
}
